.app-header {
    background-color: var(--gray3);
    color: var(--clr2bg-light);
    padding: 10px 0px;
}

.header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-container h1 {
    flex-grow: 1;
}

.app-nav {
    display: flex;
    gap: 1em;

    a {
        font-weight: 100;
    }
}

a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
}

@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}
