.todo-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;

    button, a {
        font-weight: 600;
        font-size: .8rem;
    }
}

.todo-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--gray3);
    background-color: var(--gray1);
}

.todo-list li section {
    text-align: center;
}