.user-msg {
    background-color: lightgray;
    padding: .5em 1em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    color: white;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 2px;
}

.user-msg.success {
    background-color: var(--gray3);
}

.user-msg.error {
    background-color: var(--clr2);
}


.user-msg button{
    float: right;
    margin: 1em;
}