:root {
  --gray3: rgb(82, 130, 185);
  --clr2: rgb(120, 99, 110);

  --gray3bg: rgb(90, 199, 207);
  --gray3bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(233, 206, 221);
  --clr2bg-light: rgb(253, 236, 246);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 