button, .btn {
    cursor: pointer;
    color: var(--gray3);
    background-color: var(--gray1);
    /* background-color: var(--clr2bg); */
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 1px;
}

button:hover, .btn:hover {
    background-color: var(--gray2);
    color: var(--gray1);
    transition: 0.3s;
}

input:focus {
    background-color: var(--gray2bg);
    transition: background-color 1s;
}
